---
import Footer from "@/components/Footer.astro";
import Nav from "@/components/Nav.astro";
import CTA from "@/components/sections/CTA.astro";
import Features from "@/components/sections/Features.astro";
import Hero from "@/components/sections/Hero.astro";
import Base from "@/layouts/Base.astro";
---

<Base title="Home">
  <Nav />
  <main id="main">
    <Hero />
    <Features />
    <CTA />
  </main>
  <Footer />
</Base>